@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  scroll-behavior: smooth;
}

.header-bg{
  background-image: url('./img/header_image.png');
}

.label{
  @apply text-[21px] 
}

.stripped:nth-child(odd){
  background-color: #F5F5F5;
}

.stripped:nth-child(even){

@apply bg-white
}

.labelRadio{
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.labelRadioInput{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark{
  position: absolute;
  top: 7px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.labelRadio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.labelRadio input:checked ~ .checkmark {
  background-color: #F5E6BE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.labelRadio input:checked ~ .checkmark::after {
  display: block;
}

/* Style the indicator (dot/circle) */ 
.labelRadio .checkmark::after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2A2A2A;
}