@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-bg{
  background-image: url('./img/header_image.png');
}

.label{
  @apply text-[21px] 
}

.stripped:nth-child(odd){
  background-color: #F5F5F5;
}

.stripped:nth-child(even){

@apply bg-white
}
